/*mobile based css start from here*/
@media screen and (max-height: 450px) {
  .teja-nethas-sidenav {padding-top: 15px;}
  .teja-nethas-sidenav a {font-size: 18px;}
}
@media only screen and (max-width: 600px){
.resume-header h1 {
        color: #ff9b00;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 0;
}
.resume-header-links {
    float: none;
}
.resume-header{
        padding: 1em 0;
}
.resume-header-links {
    padding: 0em 0 1em 0;
}
.resume-education-title ul{
    padding: 0 0.5em;
}
.resume-header p {
    font-size: 1.3em;
}
}


@media only screen and (max-width: 1024px){

}


@media only screen and (max-width: 1024px){

}